/* Core styles */

body {
  font-family: monospace;
  margin: 0px;
}

.wrapper {
  height: 400px;
}

@media (min-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #box1 .bg-image {
    background-size: contain;
  }
}

/* left */
#box1 {
  position: relative;
  /* impacts box2 height */
  /* min-height: 400px; */
}

#box1 .bg-image {
  position: absolute;
  background: lightgrey url('media/woodrose.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  /* cool */
  /* height: 100%; */
  z-index: -1;
}

/* right */
#box2 {
  background-color: hotpink;
}

/* nav */
#navigation {
  background-color: lightgrey;
  padding: 4px;
}
#navUl {
  text-decoration: none;
  list-style-type: none;
  box-shadow: 10px;
  /* dels nav ul padding: */
  /* display: inline-block; */
}
#navLi {
  display: inline;
  padding: 4px;
}
#navLi a{
  color: black;
  font-size: 1.4em;
  padding: 10px;
  text-decoration: none;
  display: inline;
}

/* Notes */
/* navUL has margin 13px */


/* grid-template-rows: 1fr 1fr; */
/* height */
/* grid-auto-rows: 100px; */
/* grid-auto-rows: minmax(100px, auto); */
/* justify-items: start; */
/* align-items: center; */

/* .nested {
  display: grid;
} */
