/* Core styles */

html, body { height: 100%; }

body {
  font-family: monospace;
  margin: 0px;
}

.wrapper {
  height: 100%;
  min-height: 300px;
}

@media (min-width: 500px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #box1 .bg-image {
    background-size: contain;
  }
}

/* Box left */
#box1 {
  position: relative;
  /* impacts box2 height */
  /* min-height: 400px; */
}

#box1 .bg-image {
  position: absolute;
  background: lightgrey url('media/parrot.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  /* cool */
  /* height: 100%; */
  z-index: -1;
}

/* Box right */
#box2 {
  background-color: white;
  overflow-y: scroll;
}

/* nav */
#navigation {
  background-color: #f5ab31;
  padding: 4px 4px 4px 8px;
}
#navUl {
  text-decoration: none;
  list-style-type: none;
  box-shadow: 10px;
  /* dels nav ul padding: */
  /* display: inline-block; */
}
#navLi {
  display: inline;
  padding: 4px 8px 4px 0px;
}
#navLi a{
  color: black;
  font-size: 1.4em;
  padding: 10px 10px 10px 0px;
  text-decoration: none;
  display: inline;
}


/* Logo */
.logo {
  padding: 14px 0px 0px 50px;
  /* background-color: #FFF; */
}
.logoS {
  padding-left: 50px;
  /* background-color: #FFF; */
}
#logoletter {
  padding: 4px;
  margin: 4px;
  background-color: #f5ab31;
  color: white;
  display: inline-block;
  font-family: monospace;
  font-size: 36px;
  text-align: center;
  box-shadow: 5px 5px grey;
}
#logoletter:nth-child(even) {
  background-color: #c5b2e0;
}
#logoletter2 {
  padding: 2px;
  margin: 2px;
  display: inline-block;
  background-color: #464646;
  color: #f5ab31;
  width: 30px;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  box-shadow: 3px 3px grey;
  vertical-align: sub;
}

/* Home aka index page */
#section-a {
  padding: 0px 0px 0px 50px;
}

/* ART pages */
#artList {
  padding: 0px 0px 0px 50px;
}

#artistArtGallery {
  /* height: 200px; */
  padding: 0px 0px 0px 50px;
  /* overflow-y: scroll; */
}

#painting {
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 width: 100px;
 height: 100px;
}

/* Notes */
/* navUL has margin 13px */
/* grid-template-rows: 1fr 1fr; */
/* height */
/* grid-auto-rows: 100px; */
/* grid-auto-rows: minmax(100px, auto); */
/* justify-items: start; */
/* align-items: center; */
/* .nested {
  display: grid;
} */
